0     5
1    10
2    15
3    20
4    25
dtype: int64

In [ ]:
import pandas as pd
a=[5,10,15,20,25]
var=pd.Series(a)
print(var)

In [9]:
x=[10,20,30,40,50,60]
var=pd.Series(x,index=['a','b','c','d','e','f'],dtype="float",name="python")
print(var)
print(type(var))
print(var[3])

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
f    60.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>
40.0

In [10]:
dict={'name':['python','c','c++','java'],"rank":[1,4,3,2],"por":[10,20,30,40]}
var=pd.Series(dict)
print(var)

name    [python, c, c++, java]
rank              [1, 4, 3, 2]
por           [10, 20, 30, 40]
dtype: object

In [12]:
ser=pd.Series(10,index=[1,2,3,4,5,6,7,8])
print(ser)
print(type(ser))

1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
dtype: int64
<class 'pandas.core.series.Series'>

In [13]:
ser1=pd.Series(10,index=[1,2,3,4,5,6,7,8])
ser2=pd.Series(10,index=[1,2,3,4])
print(ser1 + ser2)

1    20.0
2    20.0
3    20.0
4    20.0
5     NaN
6     NaN
7     NaN
8     NaN
dtype: float64

# DATAFRAME